#############################################
# This is a sample .env file, follow this format to create a
# new .env file for the app to work.
# Values are wrapped in quotes to escape special characters like '#'

# Use this to set the production API base URL,
# this does not need to be set for development builds.
VITE_API_URL="https://api.example.com"

# Link to the project landing page
VITE_LANDING_LINK="https://muwno.com"

# Get auto generated firebaseConfig in project settings
VITE_FB_APIKEY="AIzalzrEzq8swnlrbsywOh2B0jSDvOLRlksfX6C"
VITE_FB_AUTHDOMAIN="muwno.firebaseapp.com"
VITE_FB_PROJECTID="muwno"
VITE_FB_APPID="1:980460922898:web:3e9a46c31ab9da15ded214"